$header-height: 56px;

$z-index-background: 0;
$z-index-content: 1;
$z-index-fab: 2;

$font-family: 'Lato',
sans-serif;
$font-family-main: 'Open Sans',
sans-serif;
$font-family-secondary: 'Poiret One',
cursive;

$content-line-height: 1.5;

$main-color: #f48fb1;
