<div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="flex-start"
    fxLayoutGap="10px"
>
    <app-fab-list-item
        fxFlex="0 1 calc(50% - 10px)"
        [fxFlex.md]="flexPercentage ? flexPercentage : '0 1 calc(33% - 10px)'"
        [fxFlex.lg]="flexPercentage ? flexPercentage : '0 1 calc(33% - 10px)'"
        *ngFor="let item of items; let i = index"
        [item]="item"
        [@bounceIn]="{ value: bounceIn, params: { timing: i } }"
        [style.visibility]="isElementShown ? 'visible' : 'hidden'"
    ></app-fab-list-item>
</div>
