div {
  display: flex;
  align-items: flex-start;
  margin: 16px;
  box-shadow: 0 0px 12px 1px #f48fb1;

  &.left {
    border-bottom: 6px solid #f48fb1;
  }

  &.right {
    border-top: 6px solid #f48fb1;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}
