<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="zone">
    <th mat-header-cell *matHeaderCellDef> Процедура </th>
    <td mat-cell *matCellDef="let element" [style.font-weight]="element.bold ? 'bold' : 'none'"> {{element.zone}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="master">
    <th mat-header-cell *matHeaderCellDef> Женская </th>
    <td mat-cell *matCellDef="let element" class="cell" [style.color]="female.color"> {{element.master}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="top">
    <th mat-header-cell *matHeaderCellDef> Мужская </th>
    <td mat-cell *matCellDef="let element" class="cell" [style.color]="male.color"> {{element.top}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
