@import '~app/styles/_variables';
@import '~app/styles/_partial';
@import '~app/styles/_mixins';

:host {
  margin: 10px 0;
}

.fab-div {
  button {
    width: 70px;
    height: 70px;
    font-weight: bold;

    .mat-button-wrapper {
      padding: 0 !important;
    }

    @include xs {
      width: 50px;
      height: 50px;
      font-size: 24px;
    }

    @include sm {
      width: 60px;
      height: 60px;
      font-size: 32px;
    }

    @include md {
      width: 70px;
      height: 70px;
      font-size: 35px;
    }
  }

  mat-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
    line-height: 40px;
  }
}

.content {
  @extend .uppercase;
  font-family: $font-family-main;
  font-size: 14px;
  margin-top: 10px;

  @include xs {
    font-size: 12px;
  }

  @include sm {
    font-size: 14px;
  }

  @include md {
    font-size: 14px;
    padding: 0 40px;
  }
}
