@import './app/styles/material-theme';
@import './app/styles/_partial';
@import '~app/styles/_variables';

html {
  height: 100%;
}

html {
  body {
    margin: 0;
  }

  .mat-tab-label {
    @include md {
      font-size: 18px;
    }

    @include lg {
      font-size: 18px;
    }
  }
}
